#header{
    background-color:dimgray;
    height: 100px;
}
#footer{
    background-color: blue;
    height: 100px;
    clear: both;
}
#col1{
    background-color: blueviolet;
}
#col2{
    background-color: brown;
}
#col3{
    background-color: cyan;
}
.column{
    width: 33%;
    height: 400px;
    float: left;

}
