body{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    width:100%;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
    z-index: 1;

}
header img{
    height: 45px;
}
.banner img{
    width: 100%;
    height: 100%;
}
.banner h2{
    position: absolute;
    top: 30%;
    padding: 20px;
    border-radius: 5px;
    color: black;
    left: 20px;
}
.banner{
    position: relative;

}
.banner h2 span{
    font-weight: bold;
    font-size: 1.3cm;
}
nav{
    background-color: lightgray;
    position: sticky;
    top: 85px;
}
nav li{
    display: inline-block;
    width: 25%;
    padding-top: 25px;
    padding-bottom: 25px;
}
nav ul{
    white-space: nowrap;
    max-width: 1000px;
    margin: 0 auto;
}
article{
    max-width: 80%;
    margin: 0auto;
    padding: 20px;
}
article h2,h3{
    color: #000;
}
article p{
    line-height: 1.4em;
    letter-spacing: 1px;

}
article ul li{
    display: inline-block;
    width: 45%;
    padding: 10px;
}
article ul li img{
    width: 90%;
    max-height: 70%;
}
footer{
    background-color: black;
    margin:  0 auto;
    padding: 12px;
}
footer p{
        text-align: center;
        color: white;

}

