body {
  font-family: Arial;
  text-align: center;
}

form input, form select {
  padding: 5px;
  margin: 5px;
}

#gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.card img {
  width: 100%;
  height: 120px;
}