 body {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      background: #f0f8ff;
      padding: 20x;
 }
 #weather{
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1)
 }
